HOST = 127.0.0.1
PORT = 1005
APP_URL = http://${HOST}:${PORT}

TASL_JSON_SERVER = 'https://api.json-generator.com/templates/X7YQzOO6dkVl/data'
TASL_JSON_SERVER_KEY = 'dec83qrnl2lnfb0crlj7yn6gkus3wjiuro3q5js5'
TASL_USERNAME = 'taslndrsuser'
TASL_PASSWORD = '$2b$12$.NFPtq1vEYyMMVrDscx/seva1iocpXmMBRc4PgGnFn8M61h7BuZu6'
